$base_cookies_z_index: 9000 !default;

@layer ovee-toolkit {
	.cookies {
		position: fixed;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: $base_cookies_z_index;
		visibility: hidden;
		transition: opacity 0.2s ease, visibility 0.2s ease;
		pointer-events: none;
		opacity: 0;

		&.is-visible {
			visibility: visible;
			pointer-events: auto;
			opacity: 1;
		}

		[data-cookies-dialog][hidden] {
			display: none !important;
		}
	}

	.cookies-edit {
		position: fixed;
		right: 1.2rem;
		bottom: 1.2rem;
		z-index: $base_cookies_z_index;
		visibility: hidden;
		transition: opacity 0.2s ease, visibility 0.2s ease;
		pointer-events: none;
		opacity: 0;

		&.is-visible {
			visibility: visible;
			pointer-events: auto;
			opacity: 1;
		}
	}
}
