.header {
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;

	&[data-collapsing-header='sticky'] {
		margin-bottom: calc(var(--header-height, 0) * -1);
		position: sticky;
		top: calc(var(--header-height, 0) * -1);

		.header-visible & {
			transform: translateY(var(--header-height, 100%));
		}
	}

	.header-collapsed & {
		transform: translateY(-100%);
	}
}
