<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<link rel="icon" type="image/svg+xml" href="favicon.svg" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Ovee UI</title>
</head>

<body id="app">
	<main class="main">
		<div class="main__content">
			<h1 class="main__title">
				Owls UI Playground
			</h1>
	
			<h4 class="main__description">
				This project uses <b>Ovee</b> with <a href="https://vitejs.dev" target="_blank">Vite</a> for quick and simple setup
				<br>
				<br>
				For full Ovee documentation
	
				<a class="main__docs" href="https://owlsdepartment.github.io/ovee/v3" target="_blank">
					click here
				</a>
			</h4>
		</div>
	</main>

	<script type="module" src="/src/main.ts"></script>
</body>
</html>
