.cookies {
	display: flex;
	position: fixed;
	left: 0;
	bottom: 0;
	transition-property: opacity, visibility;
	opacity: 0;
	visibility: hidden;
	z-index: $z_index_modal;

	&__desc { }

	&__btn { }

	.no-js &,
	&.is-visible {
		opacity: 1;
		visibility: visible;
	}
}